.root {
  background: #68fd2d;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 24px;

  .greenBottom {
    position: absolute;
    width: 100%;
    bottom: -30px;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 96px;
    max-width: 1200px;

    h2 {
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 4.25px;
      color: var(--green);
      opacity: 0.5;
      text-transform: uppercase;

      @include respond(mobileL) {
        font-size: 18px;
      }
    }

    h1 {
      font-size: 64px;
      font-weight: 900;
      letter-spacing: -0.5;
      text-transform: uppercase;
      color: var(--green);

      @include respond(tablet) {
        font-size: 36px;
      }

      @include respond(mobileL) {
        font-size: 24px;
      }
    }
  }

  .slider {
    max-width: 1131px;

    width: 100%;
  }
  .slide {
    color: var(--green);
    h2 {
      margin-top: 36px;
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 4.25px;
      color: var(--green);
      opacity: 0.5;
      text-transform: uppercase;
      padding: 0px 16px;

      @include respond(mobileL) {
        font-size: 18px;
      }
    }
    h1 {
      margin-top: 12px;
      font-size: 64px;
      font-weight: 900;
      letter-spacing: -0.5;
      text-transform: uppercase;
      color: var(--green);

      @include respond(tabletL) {
        font-size: 36px;
      }

      @include respond(mobileL) {
        font-size: 28px;
      }
    }
    .description {
      margin-top: 32px;
    }
    p {
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;

      @include respond(tabletL) {
        line-height: 34px;
      }

      @include respond(mobileL) {
        font-size: 24px;
      }
    }
  }
}
