.swiper-pagination-bullet {
  background: var(--green);
  opacity: 1;
  transition: 0.3s;
}

.swiper-pagination-bullet-active {
  width: 100px;
  border-radius: 12px;
}
/* 
.swiper-pagination {
  @media only screen and (max-width: 475px) {
    bottom: 20px !important;
  }
} */

.swiper-slide {
  padding-bottom: 60px;
}
