.root {
  background: #35684f;
  position: relative;
  padding-top: 402px;
  padding-bottom: 155px;

  @include respond(mobileL) {
    padding-bottom: 24px;
  }

  .everyBottom {
    position: absolute;
    width: 100%;
    bottom: -30px;
  }

  .carts {
    position: absolute;
    top: 152px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  .content {
    background: var(--green-light);
    border: 3px solid var(--green);
    padding: 80px 0;
    max-width: 891px;
    margin: 0 auto;
    border-radius: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond(tabletContainer) {
      padding: 150px 0;
    }

    @include respond(mobileL) {
      padding: 80px 26px;
    }

    @include respond(tabletL) {
      width: calc(100% - 40px);
    }

    h1 {
      font-size: 48px;
      color: var(--green);
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;

      @include respond(mobileL) {
        font-size: 36px;
      }
    }

    h2 {
      color: rgba(#9CFB40, 0.2);
      background: var(--green);
      border-radius: 24px;
      font-size: 33px;
      font-weight: 900;
      padding: 16px 36px;
      position: absolute;
      bottom: -36px;
      left: 50%;
      transform: translateX(-50%);
      text-transform: uppercase;
      width: 826px;
      letter-spacing: -2px;
      text-align: center;
      letter-spacing: normal;

      @include respond(tabletL) {
        width: calc(100% - 40px);
      }

      @include respond(mobileL) {
        font-size: 16px;
      }
    }

    .innerContent {
      display: flex;
      gap: 12px;
      align-items: center;
      margin-top: 12px;

      @include respond(tabletContainer) {
        flex-direction: column;
      }

      p {
        font-size: 20px;
        font-weight: 800;
        color: var(--green);
        max-width: 371px;

        @include respond(mobileL) {
          font-size: 15px;
        }
      }
    }

    .leftEl {
      position: absolute;
      z-index: 1;
      left: -202px;
      top: -69px;
    }

    .rightEl {
      position: absolute;
      z-index: 1;
      right: -189px;
      top: 31px;
    }
  }
}
